.Singlepost {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;

    .routes {
        display: flex;
        font-size: 0.7rem;
        align-items: left;
        margin: 1rem;

        p {
            text-decoration: underline;
            color: red;
        }
    }

    .postBody {
        .blog-post {
            padding: 1rem;

            .featured-image {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .blog-title {
                display: flex;
                justify-content: flex-start;
                align-items: left;
                flex-direction: column-reverse;

                h1 {
                    color: red;
                    margin-top: -1rem;
                    text-decoration: underline;
                }

                p {
                    color: gray;
                    font-size: 0.8rem;
                    margin-bottom: 1.5rem;
                }
            }

            .blog-body {

                margin-top: -1rem;

                p {
                    color: black;
                    margin-top: -1rem;
                    line-height: 2rem;
                    white-space: pre-line;
                }

                p::after {
                    content: "";
                    white-space: pre;
                }
            }

            .meta-tags {
                color: gray;
                display: flex;
                align-items: center;
                gap: 4rem;

                .tags {
                    display: flex;
                    .author {
                        border-right: 1px solid #fff;
                        padding-right: 0.5rem;
                        text-decoration: underline;
                    }

                    .date {
                        padding-left: 0.5rem;
                    }
                }

            }
        }

        .sidebar {
            display: none;
        }

    }

}

@media only screen and (min-width:660px) {
    .Singlepost {
        width: 100%;

        .postBody {
            display: flex;
            padding: 3rem;

            .blog-post {
                flex: 3;

                .featured-image {
                    img {
                        height: 25rem;
                        object-fit: cover;
                    }
                }

                .blog-body {
                    padding: 1rem;
                }

            }

            .sidebar {
                display: block;
                flex: 1;
                padding: 1rem;
            }

        }
    }
}