.Home {
  height: 100%;
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;



  .banner-image {
    height: 30rem;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)), url(../../Resoources/image.jpg);
    justify-content: center;
    align-items: center;
    margin-top: -3rem;

    p {
      padding: 8rem;
      font-family: monospace;
      font-weight: 700;
      font-size: 3rem;
      opacity: 100%;
    }
  }

  .body-component {
    padding: 0.2rem;
    display: flex;

    .blog-posts {
      flex: 3;
      display: flex;
      flex-wrap: wrap;
    }

    .sidebar {
      display: none;
    }
  }

}

@media only screen and (min-width:660px) {
  .Home {

    .banner-image{
      
      p{
        padding: 13rem;
      }
    }
    .body-component {
      padding: 1rem;
      display: flex;

      .blog-posts {
        flex: 3;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }

      .sidebar {
        display: block;
        flex: 1;
        padding: 2rem;
      }
    }

  }
}