.Datatable {
    height: 500px;
    background-color: #fff;

    .data {
        color: black;
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 0.5rem;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.active {
            color: green;
            background-color: rgba(0, 128, 0, 0.208);
        }

        &.passive {
            color: goldenrod;
            background-color: rgba(255, 255, 0, 0.252);
        }

        &.pending {
            color: rgb(218, 32, 32);
            background-color: rgba(255, 0, 0, 0.252);
        }
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;
    
        .viewButton {
          padding: 2px 5px;
          border-radius: 5px;
          color: darkblue;
          border: 1px dotted rgba(0, 0, 139, 0.596);
          cursor: pointer;
        }
        
        .deleteButton {
          padding: 2px 5px;
          border-radius: 5px;
          color: crimson;
          border: 1px dotted rgba(220, 20, 60, 0.6);
          cursor: pointer;
        }
      }

}