.Categorycomponent {
    width: 45%;
    margin: 0.5rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: -1px 1px 5px 0px rgba(114, 114, 114, 0.75);
    -webkit-box-shadow: -1px 1px 5px 0px rgba(141, 141, 141, 0.75);
    -moz-box-shadow: -1px 1px 5px 0px rgba(138, 138, 138, 0.75);

    .featured-image{
        text-align: center;
        padding: 0.5rem;
        
        #cat{
            font-size: 4rem;
            color: #000000;
        }
    }

    .category-details{
        padding: 0.5rem;

        .categoryname{
            color: red;
            text-decoration: underline;
            font-size: 0.9rem;

            a{
                text-decoration: none;
                color: red;
            }
        }

        .author{
            color: gray;
            font-size: 0.7rem;
        }

        .no-of-posts{
            text-align: right;
        }
    }
}

@media only screen and (min-width:660px) {
    .Categorycomponent{
        width: 48%;
        display: flex;
        align-items: center;
        gap: 2rem;

        .featured-image{
            background-color: #000000;
            #cat{
                color: rgb(255, 255, 255);
            }
        }
    }
}